<div id="content" class="wrapper" ng-controller="DistrictCtrl">
  <div class="ui segment">

  <h2 class="ui header">議員開箱分享</h2>
  <p>決定要購買什麼產品的時候，我們會比較各種開箱文，對照自己重視的產品需求，最後慎重地做出決定。<br/>議員選舉能不能也開啟類似的討論呢？[ #議員開箱指南 ]</p>

  <p>這是一個人人都可以分享「圖像化」的議員開箱指南 template。你只需要在 google doc 上標記你對各個候選人的想法，就可以輕鬆分享給朋友。：）</p>

  <p>如果你願意把你的意見分享給所有人，請填寫<a href="https://docs.google.com/forms/d/1QPMY7FIGzQuj7z6gt_Ev948jDbkRfThmvorEGs7cs1A/viewform?usp=send_form" class="link" target="_blank">這個表單</a>。</p>

  <div class="ui divider"></div>


  <h2 class="ui header">如何使用</h2>

  <div class="ui ordered list">
  <div class="item">開啟一個 google 表單，依照<a href="https://docs.google.com/spreadsheets/d/1xscuSM4U7C57CabLH7akss8Kunefx4rVhpizMz1B24Q/edit" target="_blank">範例</a>填寫。</div>
    
  <div class="item">將表單發佈至網路上。</div>
     <div class="list">
     <div class="item">選擇「檔案」->「發佈到網路」</div>
     <div class="item">或參考 <a href="https://support.google.com/docs/answer/37579" class="link" target="_blank">google 的官方說明</a> </div>
     </div>
  <div class="item">到這裡看你的表單：coucilor2014/mylist/<span class="color_red"><你的選區></span>/<span class="color_red"><你的表單key></span>
    <div class="list">
      <div class="item">例如「士林北投」是台北市第 1 選區，填寫 1 </div>
      <div class="item">如何知道表單的 key 是什麼？例如你的 google 表單網址為：「https://docs.google.com/spreadsheets/d/<span class="color_red">1xscuSM4U7C57CabLH7akss8Kunefx4rVhpizMz1B24Q</span>/edit#gid=0」，表單的 key 為「1xscuSM4U7C57CabLH7akss8Kunefx4rVhpizMz1B24Q」 </div>
    </div>
    
  </div>
</div>


  

</div><!-- end of ui segment -->
</div><!-- end of wrapper -->